# IntelliJ IDEA
.idea
*.iws
*.iml
out/
.idea_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*~